<tr>
    <td>
        {% match episode.url %}
            {% when Some with (url) %}
                <a href="{{ url }}" target="_blank">{{ episode.title }}</a>
            {% when None %}
                {{ episode.title }}
        {% endmatch %}
        {% if episode.explicit -%}
            <b>E</b>
        {% endif -%}
    </td>
    <td>
        {% match episode.published %}
            {% when Some with (published) %}
                {{ published.date().format("%d.%m.%Y") }}</td>
            {% when None %}
            <div>None</div>
        {% endmatch %}
    <td>{{  episode.format_duration() }}</td>
</tr>