<tr>
    <td>
        <div class="title-player">
            <img class="player-controls player-button-play" src="/static/img/play_arrow.svg" alt="play">
            <img class="player-controls player-button-pause" hidden src="/static/img/pause.svg" alt="stop">
            <div hidden class="media-url">{{ episode.media_url.as_str() }}</div>
            {% match episode.url %}
                {% when Some with (url) %}
                    <a href="{{ url }}" target="_blank" class="episode-title">{{ episode.title }}</a>
                {% when None %}
                    <div class="episode-title">{{ episode.title }}</div>
            {% endmatch %}
            {% if episode.explicit -%}
                <b>E</b>
            {% endif -%}
        </div>
    </td>
    <td>
        {% match episode.published %}
            {% when Some with (published) %}
                {{ published.date().format("%d.%m.%Y") }}</td>
            {% when None %}
            <div>None</div>
        {% endmatch %}
    <td>{{  episode.format_duration() }}</td>
</tr>