{% match context %}
    {% when Some with (content) %}
        <div class="podcast-container" >
            <div class="podcast-detail-container">
                {% match content.feed.img %}
                    {% when Some with (img) %}
                        <img src="{{ img }}" id="p-img" class="pure-img" />
                    {% when None %}
                {% endmatch %}
                <div class="podcast-details">
                    {% match content.feed.link_web %}
                        {% when Some with (website) %}
                            {% match website.host_str() %}
                                {% when Some with (website_host) %}
                                    <div class="svg-text">
                                        <img src="/static/img/public.svg">
                                        <p><a href="{{ website }}" target="_blank">{{  website_host }}</a></p>
                                    </div>
                                {% when None %}
                            {% endmatch %}
                        {% when None %}
                    {% endmatch %}
                    <div class="svg-text">
                        <img src="/static/img/language.svg">
                        <p>{{ content.feed.language_lookup().unwrap_or_default() }}</p>
                    </div>
                    {% for (top_category, sub_categories) in content.feed.categories.iter() %}
                        {%if sub_categories.is_empty() -%}
                            <div class="svg-text">
                                <img src="/static/img/list_alt.svg">
                                <p>{{ top_category }}</p>
                            </div>
                        {% else -%}
                            <div class="svg-text">
                                <img src="/static/img/list_alt.svg">
                                <p>{{ top_category }}:</p>
                            </div>                
                        {% endif -%}
                        {% for category in sub_categories %}
                            <p class="sub-category">{{ category }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div id="text-box">
                <div class="flex podcast-header-form">
                    <h2 class="podcast-title">{{ content.feed.title }}</h2>
                    {% if content.feed_exists -%}
                    <div class="container-disabled-button">
                        <button class="pure-button pure-button-disabled">save</button>
                        <p>Duplicate Podcast</p>
                    </div>
                    {% else -%}
                    <form id="save-container" method="POST" action="save-feed">
                        <button type="submit" class="pure-button pure-button-primary">Save</button>
                    </form>
                    {% endif -%}
                </div>
                <small>{{ content.feed.author.unwrap_or_default() }}</small>
                <p>{{ content.feed.description|safe }}</p>
            </div>
        </div>
        <div id="episodes">
            {% if content.feed.episodes.len() > 0 -%}
                <h3>Episodes ({{ content.feed.episodes.len() }})</h3>
                <div class="pure-table-container">
                    <table class="pure-table">
                        {% include "../episode/episode_head.html" %}
                        <tbody>
                            {% for episode in content.feed.episodes.iter() %}
                                {% include "../episode/episode_row.html" %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else -%}
                <p>Looks like this is not a Podcast or has no episodes.</p>
            {% endif -%}
        </div>
    {% when None %}
{% endmatch %}