{% extends "../base.html" %}

{% block content %}
<script src="/static/js/player.js"></script>
<div class="w50 p3-x">
    {% let artwork_url -%}
    <div class="podcast-container" >
        {% match feed.img_cache %}
            {% when Some with (img) %}
                <a href="/web/img/{{ img }}" target="_blank" class="pure-img">
                    <img id="artwork" src="/web/img/{{ img }}" id="p-img" class="pure-img" />
                </a>
            {% when None %}
                {% let artwork_url = "/static/img/podcast_placeholder.jpg" -%}
                <a href="{{ artwork_url }}" target="_blank" class="pure-img">
                    <img id="artwork" src="{{ artwork_url }}" id="p-img" class="pure-img" />
                </a>
        {% endmatch %}
        <div id="podcast-summary">
            <div class="flex podcast-header-form">
                <h2 id="podcast-title">{{ feed.title }}</h2>
            </div>
            <small>{{ feed.author}}</small>
            {% match feed.subtitle %}
                {% when Some with (subtitle) %}
                    <p>{{ subtitle }}</p>
                {% when None %}
            {% endmatch %}
            <p>{{ feed.description|safe }}</p>
        </div>
        <div class="podcast-detail-container">
            {% match feed.website() %}
                {% when Some with (website) %}
                    {% match website.host_str() %}
                        {% when Some with (website_host) %}
                            <div class="svg-text">
                                <img src="/static/img/public.svg">
                                <p><a href="{{ website }}" target="_blank">{{  website_host }}</a></p>
                            </div>
                        {% when None %}
                {% endmatch %}
            {% when None %}
        {% endmatch %}

        <div class="svg-text">
            <img src="/static/img/rss_feed_black.svg">
            <p><a href="{{ feed.url }}" target="_blank">RSS-Feed</a></p>
        </div>
        <div class="svg-text">
            <img src="/static/img/language.svg">
            <p>{{ feed.language_lookup().unwrap_or_default() }}</p>
        </div>
        {% for category in feed.categories %}
            <div class="svg-text">
                <img src="/static/img/list_alt.svg">
                <p>{{ category.description }}</p>
            </div>
            {% for subcategory in category.children.iter()  %}
                <p class="sub-category">{{ subcategory.description }}</p>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
    <div id="episodes">
        {% if episodes.len() > 0 -%}
            <h3>Episodes ({{ episodes.len() }})</h3>
            <div class="pure-table-container h600">
                <table class="pure-table">
                    {% include "../episode/episode_head.html" %}
                    <tbody>
                        {% for episode in episodes %}
                            {% include "../episode/episode_row.html" %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else -%}
            <p>Looks like this Podcast has no episodes.</p>
        {% endif -%}
    </div>
</div>

{% endblock %}