{% match context %}
    {% when Some with (content) %}
        <div class="podcast-container" >
            <div class="podcast-detail-container">
                {% match content.feed.img %}
                    {% when Some with (img) %}
                        <img src="{{ img }}" id="p-img" class="pure-img" />
                    {% when None %}
                {% endmatch %}
                <div class="podcast-details">
                    {% match content.feed.link_web.host_str() %}
                        {% when Some with (website_host) %}
                            <p><a href="{{ content.feed.link_web }}" target="_blank">{{  website_host }}</a></p>
                        {% when None %}
                    {% endmatch %}
                    <p>{{ content.feed.language().unwrap_or_default() }}</p>
                    {% for (top_category, sub_categories) in content.feed.categories %}
                        {%if sub_categories.is_empty() -%}
                            <p>{{ top_category }}</p>
                        {% else -%}
                            <p>{{ top_category }}:</p>
                        {% endif -%}
                        {% for category in sub_categories %}
                            <p class="sub-category">{{ category }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div id="text-box">
                <div class="flex podcast-header-form">
                    <h3 class="podcast-title">{{ content.feed.title }}</h3>
                    {% if content.feed_exists -%}
                    <div class="container-disabled-button">
                        <button class="pure-button pure-button-disabled">save</button>
                        <p>Duplicate Podcast</p>
                    </div>
                    {% else -%}
                    <form id="save-container" method="POST" action="save-feed">
                        <button type="submit" class="pure-button pure-button-primary">Save</button>
                    </form>
                    {% endif -%}
                </div>
                <small>{{ content.feed.author.unwrap_or_default() }}</small>
                <p>{{ content.feed.description|safe }}</p>
            </div>
        </div>
        <div id="episodes">
            {% if content.feed.episodes.len() > 0 -%}
                <h3>Episodes ({{ content.feed.episodes.len() }})</h3>
                <div class="pure-table-container">
                    <table class="pure-table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Link</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tbody>
                                {% for episode in content.feed.episodes %}
                                    <tr>
                                        <td>{{ episode.title }}</td>
                                        <td>
                                            {% match episode.url %}
                                                {% when Some with (url) %}
                                                    <a href="{{ url }}" target="_blank">go to episode</a>
                                                {% when None %}
                                                    <div>None</div>
                                            {% endmatch %}
                                        </td>
                                        <td>
                                            {{ episode.format_duration() }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </tbody>
                    </table>
                </div>
            {% else -%}
                <p>Looks like this is not a Podcast or has no episodes.</p>
            {% endif -%}
        </div>
    {% when None %}
{% endmatch %}