div#modal-alert {
	min-width: 18em;
	color: #fff;
	position: fixed;
	bottom: 3rem;
	left: 4em;
	z-index: 20;
	/* border: 2px solid #c7c9d3; */
	padding: 1em;
	border-radius: 0.25em;
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
		0px 6px 10px 0px rgba(0, 0, 0, 0.14),
		0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.color-ok {
	background: #4caf50;
}
.color-error {
	background: #f44336;
}
