main {
    display: grid;
    justify-content: center;
}


input, .error-msg {
    width: 34vw;
}

.submit-btn, label{
    margin-top: 1em !important;
}


.error-msg {
    margin-top: 1.5em;
    padding: 1em;
    word-wrap: normal;
    background: #e7615d;
    color: white;
    border-radius: 0.25em;
}
body{
    margin-bottom: 5em;
}
.menu{
    background: #efefef;
    padding: .5em;
}

.mr-1em{
    margin-right: 1em;
}

.podcast-title{
    margin-block-start: 0;
    margin-block-end: 0;
}

img {
    max-height: 15rem;
}

.width100{
    min-width: 45em;
    
}
button.width100{
    max-width: 16em;
    min-width: 16em;
    width: 16em;
}
.podcast-conatiner{
    display: grid;
    grid-template-columns: 1fr 31em;
    grid-column-gap: 1.5em;
    margin-top: 2rem;
}

form#save-container{
    display: grid;
    justify-content: center;
}
div#episodes{
    margin-bottom: 1em;
}
div#episodes > table {
    display: inline-block;
    overflow-y: scroll;
    max-height:280px;
}
.w80{
    max-width: 67vw;
}

tbody tr:nth-child(even)  {
    background: #f2f2f2;
}


/* div#episodes > table > tbody > tr first-child:td{
    width: 20vw;
    max-width: 40vw;
} */
#episodes > table > tbody > tr:nth-child(1) > td:nth-child(1){
    min-width: 27em;
}

#episodes > table > tbody > tr:nth-child(1) > td:nth-child(2) > a{
    white-space: nowrap;
}