<!DOCTYPE html>
<html lang="en">
{% let prefix = "/web" %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ prefix }}/static/pure-min.css">
    <link rel="stylesheet" href="{{ prefix }}/static/style.css">
    <link rel="stylesheet" href="{{ prefix }}/static/modal-alert.css">
    <script src="{{ prefix }}/static/script.js"></script>
    <title>Elenco Podcast Dir</title>
</head>

<body>
    <div class="menu pure-menu pure-menu-horizontal">
        <span class="pure-menu-heading">Podcasts</span>
        <ul class="pure-menu-list">

            {% if status %}
                <li class="pure-menu-item">
                    <a href="{{ prefix }}/profile" class="pure-menu-link">My Profile</a>
                </li>
            {% else %}
                <li class="pure-menu-item">
                    <a href="{{ prefix }}/login" class="pure-menu-link">Login</a>
                </li>
            <li class="pure-menu-item">
                <a href="{{ prefix }}/register" class="pure-menu-link">Register</a>
            </li>
            {% endif %}
            <li class="pure-menu-item">
                <a href="/api/feeds" target="_blank" class="pure-menu-link">API (Feeds)</a>
            </li>

        </ul>
    </div>
    <main>{% block content %} {% endblock %}</main>
    <div id="modal-alert" hidden></div>
</body>

</html>