<!DOCTYPE html>
<html lang="en">
{% let prefix = "/web" %}
{% let title = "Elenco" %}
{% let fav_version = "v1"%}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/pure-min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/modal-alert.css">
    <link rel="icon" type="image/png" href="/static/img/{{fav_version}}_favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/img/{{fav_version}}_favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/img/{{fav_version}}_favicon-96x96.png" sizes="96x96">
    <script src="/static/js/util.js" type="module"></script>
    <title>{{ title }} Podcast Dir</title>
</head>

<body>
    {% include "nav.html" %}
    <main>{% block content %} {% endblock %}</main>
    <div id="modal-alert" hidden></div>
</body>

</html>