{% extends "base.html" %}


{% macro inputurl(args) %}

    {% match args %}
        {% when Some with (content) %}
            <input type="url" value="{{ content.url }}" class="width100" id="stacked-email" name="feed-url" placeholder="podcast.de/feed" autofocus required />
        {% when None %}
            <input type="url" class="width100" id="stacked-email" name="feed-url" placeholder="podcast.de/feed" required />
    {% endmatch %}

{% endmacro %}

{% block content %}
    {% match error_msg %}
        {% when Some with (error_msg) %}
            <div class="error-msg">
                Error: {{ error_msg }}
            </div>
        {% when None %}
    {% endmatch %}
    <form class="w100 pure-form pure-form-stacked" method="POST" action="/new-feed">
        <fieldset>
            <legend>
                <h2>Submit A New Podcast</h2>
            </legend>
            <label for="stacked-email">Feed URL</label>
            {% call inputurl(feed_content) %}
            <button type="submit" class="submit-btn pure-button pure-button-primary">Submit</button>
        </fieldset>
    </form>
    {% match feed_content %}
        {% when Some with (content) %}
            <div class="podcast-conatiner">
                {% match content.img %}
                    {% when Some with (img) %}
                        <img src="{{ img }}" class="pure-img" />
                    {% when None %}
                {% endmatch %}
                <div>
                    <h3 class="podcast-title">{{ content.title }}</h3>
                    <small>{{ content.author }}</small>
                    <p>{{ content.description  }}</p>
                </div>
            </div>
        {% when None %}
    {% endmatch %}
{% endblock %}

