{% match metadata %}
    {% when Some with (content) %}
        <div class="podcast-container" >
            <div class="podcast-detail-container">
                {% match content.img_path %}
                    {% when Some with (img) %}
                        <img src="{{ img }}" id="p-img" class="pure-img" />
                    {% when None %}
                {% endmatch %}
                <div class="podcast-details">
                    {% match content.link_web.host_str() %}
                        {% when Some with (website) %}
                        <p><a href="{{ content.link_web}}" target="_blank">{{  website }}</a></p>
                            {% when None %}
                    {% endmatch %}
                    <p>{{ content.language().unwrap_or_default() }}</p>
                    {% for (top_category, sub_categories) in content.categories %}
                    {%if sub_categories.is_empty() -%}
                        <p>{{ top_category }}</p>
                    {% else -%}
                        <p>{{ top_category }}:</p>
                    {% endif -%}
                        {% for category in sub_categories %}
                            <p class="sub-category">{{ category }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div id="text-box">
                <div class="flex podcast-header-form">
                    <h3 class="podcast-title">{{ content.title }}</h3>
                    <form id="save-container" method="POST" action="save-feed">
                        <button type="submit" class="pure-button pure-button-primary">Save</button>
                    </form>
                </div>
                <small>{{ content.author.unwrap_or_default() }}</small>
                <p>{{ content.description|safe }}</p>
            </div>
        </div>
        <div id="episodes">
            <h3>Episodes ({{ content.episodes.len() }})</h3>
            <div class="pure-table-container">
                <table class="pure-table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Link</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                            {% for episode in content.episodes %}
                                <tr>
                                    <td>{{ episode.title }}</td>
                                    <td>
                                        {% match episode.url %}
                                            {% when Some with (url) %}
                                                <a href="{{ url }}" target="_blank">go to episode</a>
                                            {% when None %}
                                                <div>None</div>
                                        {% endmatch %}
                                    </td>
                                    <td>
                                        {{ episode.format_duration() }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </tbody>
                </table>
            </div>
        </div>
    {% when None %}
{% endmatch %}