{% match metadata %}
    {% when Some with (content) %}
        <div class="podcast-container" >
            {% match content.img %}
                {% when Some with (img) %}
                    <img decoding="async" src="{{ img }}" id="p-img" class="pure-img" />
                {% when None %}
            {% endmatch %}
            <div id="text-box">
                <div class="flex podcast-header-form">
                    <h3 class="podcast-title">{{ content.title }}</h3>
                    <form id="save-container" method="POST" action="{{ prefix }}/save-feed">
                        <input hidden type="url" value="{{ content.url }}" name="feed-url"  />
                        <button type="submit" class="pure-button pure-button-primary">Save</button>
                    </form>
                </div>
                <small>{{ content.author }}</small>
                <p>{{ content.description  }}</p>
            </div>
        </div>
        <div id="episodes">
            <h3>Episodes</h3>
            <div class="pure-table-container">
                <table class="pure-table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Link</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for episode in content.episodes %}
                            <tr>
                                <td>{{ episode.title }}</td>
                                <td>
                                    {% match episode.link %}
                                        {% when Some with (link) %}
                                            <a href="{{ link }}" target="_blank">go to episode</a>
                                        {% when None %}
                                            <div>None</div>
                                    {% endmatch %}
                                </td>
                                <td>{{ episode.duration }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% when None %}
{% endmatch %}