<form class="w100 pure-form pure-form-stacked" action="{{ prefix }}/login" method="POST">
    <fieldset>
        <legend>
            <h2>Login</h2>
        </legend>
        <label for="stacked-email">Email</label>
        <input type="email" id="stacked-email" name="email" placeholder="Email" autofocus required />
        <span class="pure-form-message">This is a required field.</span>
        <label for="stacked-password">Password</label>
        <input type="password" id="stacked-password" name="password" placeholder="Password" required />
        <button type="submit" class="submit-btn pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>