{% extends "base.html" %}
{% block content %}
<script type="module" src="/static/js/review.js"></script>
<div class="grid">
    <a href="register" class="pure-button">New Moderator</a>
</div>

<div>

<header class="feeds-review-header">
    <h2>Feeds For Review</h2>
    <div class="actions-feed">
        <button id="allowButton" class="allow button-small button-success pure-button">Allow</button>
        <button id="rejectButton" class="reject button-small button-error pure-button">Reject</button>
    </div>
</header>
    {% if queued_feeds.len() > 0 -%}
        <table class="pure-table">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Author</th>
                    <th>Username</th>
                    <th>Website</th>
                    <th>Submitted</th>
                </tr>
            </thead>
            <tbody>
                {% for feed in queued_feeds %}
                <tr>
                    <td class="checkbox-container">
                        <input type="checkbox" class="feed-row pure-checkbox" />
                    </td>
                    <td class="feed-id">{{ feed.id }}</td>
                    <td><a href="/web/auth/feed/{{ feed.id }}">{{ feed.title }}</a></td>
                    <td>
                        <a href="{{ feed.url }}">Feed</a>
                    </td>
                    <td>{{ feed.author_name }}</td>
                    <td>
                        {{ feed.username }}
                    </td>
                    <td>
                        {% match feed.link_web %}
                            {% when Some with (website) %}
                                <a href="{{ website }}">{{ website }}</a>
                            {% when None %}
                                None
                        {% endmatch %}
                    </td>
                    <td>
                        {{ feed.submitted.time().format("%H:%M") }}, {{feed.submitted.date().format("%d.%m.%g")}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else -%}
        <p>Inbox Zero.:D</p> 
    {% endif -%}
</div>
<br>
<div>
    <h2>Last 10 Reviewed Feeds</h2>
    {% if review_feeds.len() > 0 -%}
        <table class="pure-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Author</th>
                    <th>Username</th>
                    <th>Website</th>
                    <th>Status</th>
                    <th>Submitted</th>
                    <th>Reviewed</th>
                </tr>
            </thead>
            <tbody>
                {% for feed in review_feeds %}
                <tr>
                    <td class="feed-id">{{ feed.id }}</td>
                    <td><a href="/web/auth/feed/{{ feed.id }}">{{ feed.title }}</a></td>
                    <td>
                        <a href="{{ feed.url }}">Feed</a>
                    </td>
                    <td>{{ feed.author_name }}</td>
                    <td>
                        {{ feed.username }}
                    </td>
                    <td>
                        {% match feed.link_web %}
                            {% when Some with (website) %}
                                <a href="{{ website }}">{{ website }}</a>
                            {% when None %}
                                None
                        {% endmatch %}
                    </td>
                    <td>
                        {{ feed.status }}
                    </td>
                    <td>
                        {{ feed.submitted.time().format("%H:%M") }}, {{feed.submitted.date().format("%d.%m.%Y")}}
                    </td>
                    <td>
                        {{ feed.last_modified.time().format("%H:%M") }}, {{feed.last_modified.date().format("%d.%m.%g")}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif -%}

</div>
{% endblock %}: