{% extends "base.html" %}

{% block content %}
<script type="module" src="/static/js/profile.js"></script>
<h2>Welcome back {{ username }}.</h2>
<h2>My Podcasts</h2>
<div class="feed-list-grid">
    {% if submitted_feeds.len() == 0  -%}
        <p id="empty-feeds-text">Looks like have zero submitted Podcasts. Click here to submit a <a href="new-feed">new Podcast.</a></p>
    {% else -%}
        {% for feed in submitted_feeds %}
            <div class="card">
                {% match feed.img %}
                    {% when Some with (img) %}
                        <img class="pure-img" src="/web/img/{{ img }}"></img>
                    {% when None %}
                        <img class="pure-img" src="/static/img/podcast_placeholder.jpg"></img>
                {% endmatch %}
                <div class="card-text">
                    <a href="/web/auth/feed/{{feed.id}}"><h3>{{ feed.title }}</h3></a>
                    <small>{{ feed.author_name }}</small>
                    {% match feed.subtitle %}
                        {% when Some with (subtitle) %}
                            <p >{{ subtitle }}</p>
                        {% when None %}
                    {% endmatch %}
                    <div class="feed-status-container">
                        <p class="status" status="{{feed.status}}">{{ feed.status | lowercase }}</p>
                        {% if feed.status == Status::Online -%}
                            <div class="action">
                                <img class="action-online" src="/static/img/visibility_on.svg"/>
                                <div hidden class="feed-id">{{feed.id}}</div>
                            </div>
                        {% else if feed.status == Status::Offline -%}
                            <div class="action">
                                <img class="action-offline" src="/static/img/visibility_off.svg"/>
                                <div hidden class="feed-id">{{feed.id}}</div>
                            </div>
                        {% endif -%}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>



{% endblock %}