{% extends "base.html" %}

{% block content %}
<h2>Welcome back {{ username }}.</h2>
<h2>My Podcasts</h2>
<div class="feed-list-grid">
    {% if submitted_feeds.len() == 0  -%}
        <p>Looks like have zero submitted Podcasts. Click here to submit a <a href="new-feed">new Podcast.</a></p>
    {% else -%}
        {% for feed in submitted_feeds %}
            <div class="card">
                {% match feed.img %}
                    {% when Some with (img) %}
                    <img class="pure-img" src="/web/img/{{ img }}"></img>
                    {% when None %}
                    <img class="pure-img" src="/static/placeholder.svg"></img>
                {% endmatch %}
                <div class="card-text">
                    <a href="/web/auth/feed/{{feed.id}}"><h3>{{ feed.title }}</h3></a>
                    <small>{{ feed.author_name }}</small>
                    {% match feed.subtitle %}
                        {% when Some with (subtitle) %}
                            <p >{{ subtitle }}</p>
                        {% when None %}
                    {% endmatch %}
                    <p class="status" status="{{feed.status}}">{{ feed.status | lowercase }}</p>
                </div>
                
            </div>
        {% endfor %}
    {% endif %}
</div>



{% endblock %}