{% extends "base.html" %}

{% block content %}
<h2>Welcome back {{ username }}.</h2>

<h2>My Podcasts</h2>
<div class="feed-list-grid">
    {% for feed in submitted_feeds %}
        <div class="card">
            <img src="{{ feed.img_path }}"></img>
            <div>
                <a href="{{feed.link_web }}" target="_blank"><h3>{{ feed.title }}</h3></a>
                <small>{{ feed.author_name }}</small>
                <p>Status: {{ feed.status }}</p>
            </div>
            
        </div>
    {% endfor %}
</div>



{% endblock %}